<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link
            rel="stylesheet"
            href="../../static/css/style.css"
            th:href="@{/css/style.css}"
    />
</head>
<body>
<div id="wrapper">
    <h1>Hello world!</h1>
    <p th:text="|The time on the server is ${#dates.format(#dates.createNow(), 'yyyy/MM/dd HH:mm:ss')}|">The time on the
        server is ${serverTime}.</p>
    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>
